# --- KEAMANAN (WAJIB ADA) ---
.env
.env.local
# --- FRONTEND (REACT) ---
node_modules/
build/
.DS_Store
Thumbs.db

# --- BACKEND (PYTHON) ---
__pycache__/
*.py[cod]
venv/
env/

# --- FILE BERAT / DATA ---
*.db
pln_database.db