# --- KEAMANAN (WAJIB ADA) ---
.env

# --- FRONTEND (REACT) ---
node_modules/
dist/
build/
.DS_Store
Thumbs.db

# --- BACKEND (PYTHON) ---
__pycache__/
*.py[cod]
venv/
env/

# --- FILE BERAT / DATA ---
*.pkl
*.db
pln_database.db