@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan agar background full hitam & tidak ada margin aneh */
body {
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* Warna Slate-900 */
}
